@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

main{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Manrope', sans-serif;
    background-color: #F9F9FF;    
}

.centerH{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.centerV{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}


.main_page{
    height: 902px;
    background-color: #F9F9FF;
    background-image: url("images/pic_fon.png");
    background-position: 50% 90%;
    background-repeat: no-repeat;  
    background-size: 100%;
    height: 847px; 
    position: relative;
    top: 72px;   
}

.ERP-system{
    position: relative;
    top: 10%;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    border: 1px black solid;
}

header{
    width: 100%;
    background-color: #F9F9FF;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.header{
    height: 46px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header .nav_inside{
    display: flex;
    justify-content: space-between;
}

.header .nav_inside .nav{
    display: flex;
    margin-left: 90px;
}

.header .nav_inside .nav a{
    margin: auto 16px;
    text-decoration: none;
    color: #424467;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.header .try_for_free{
    width: 255px;
    background-color: #F2B705;
    border: 0;
    border-radius: 12px;
    color:#FFF;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    cursor: pointer;
}
.main_page .ERP-system{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_page h1{
    color: #424467;
    text-align: center;
    font-family: Montserrat;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;

}
.main_page p{
    color: #8B8FBB;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    flex-grow: 1;
    margin-top: 15px;
}

.main_page button{
    width: 350px;
    height: 56px;
    background-color: #616BE8;
    border: 0;
    border-radius: 12px;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    cursor: pointer;
}

.tools{
    height: 564px;
    background-color: #fff;
    background-image: url("images/tools_fon.png");
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tools .we_offer{
    height: 400px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.tools .we_offer_inside{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.tools .we_offer_inside h2{
    flex: 1;
}  
.tools .we_offer_inside p{
    width: 95%;
    flex: 2;
}  

.tools .cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tools .cards .card{    
    width: 450px;

    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.tools .cards .card .card_text{    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 79%;
}

.tools h2{
    color: #424467;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tools h3{
    color: #424467;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tools p{
    color: #8B8FBB;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    vertical-align: bottom;
}
.also{
    height: 279px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tools_also{
    height: 564px;
    background-color: #F9F9FF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.tools_also .heading{
    display: flex;
    justify-content: space-between;
}

.tools_also .heading h2{
    color: #424467;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
   
}

.tools_also .heading .heading_text{
    display: flex;
    align-items: end;
}

.tools_also .heading p{
    color: #8B8FBB; 
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.tools_also .cards{
    display: flex;
}

.tools_also .card{
    flex: 1;

    display: flex;
    justify-content: space-between;
    margin: 0 13px;
}

.tools_also .card .card_img img{
    width: 65px;
    height: 60px;
}


.tools_also .card .card_text{
    width: 75%;
}

.tools_also .card .card_text h3{
    color: #424467;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.tools_also .card .card_text p{
    color: #8B8FBB;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 5px;
}


.questions{
    height: 308px;
    background-color: #616BE8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.questions_inside{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.questions_inside .white_inputs{
    display: flex;
}

.questions h2{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

.hidden{
    display: none !important;
}

.questions form{
    display: flex;
    justify-content: space-between;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.questions .white_inputs{
    width: 66%;
    justify-content: space-between;
}

.questions form input{
    width: 350px;
    height: 56px;
    background-color: #F9F9FF;
    border: 0;
    border-radius: 12px;
    color: #8B8FBB;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    
}

.questions form input:focus{
    background-color: #F9F9FF;
    border: 0;
    border-radius: 12px;
    outline: 0;
}

.questions form input[type=submit]:focus{
    height: 56px;
    border-radius: 12px;
    background-color: #F2B705;
    text-decoration: underline;
}

.questions form input::placeholder{
    color: #8B8FBB;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    
}

.questions .submit{
    width: 350px;
    height: 56px;
    background-color: #F2B705;
    border: 0;
    border-radius: 12px;
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    cursor: pointer;
}

.sap{
    height: 752px;
    background-color: #F9F9FF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sap_inside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 588px;
}

.sap_inside .sap_header h2{
    color: #424467;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 73px;
   
}

.sap_inside .sap_header p{
    color: #8B8FBB;
    text-align: center;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sap_inside .sap_list{
    width: 100%;
    height: 345px;
    background-color: #fff;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
}

.sap_inside .sap_list ul{
    padding: 0;
    margin: 24px;
}

.sap_inside .sap_list .sap_card{
    display: flex;
    justify-content: space-between;
    height: 38px;
}

.sap_inside .sap_list .sap_card .title{
    display: flex;
    justify-content: space-between;  
    width: 400px;
}

.sap_inside .sap_list .sap_card .title .sap_checkbox{
    display: none;
}

.sap_inside .sap_list .sap_card .title .checkbox-label{
    position: relative;
    color: #424467;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin-left: 30px;
    cursor: pointer;
}

.checkbox-label::before{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: absolute;
    top: 5px;
    left: -30px;
    cursor: pointer;
    transform: scale(0);
    transition: transform 0.25s; 
}

.sap_checkbox:checked + ::before{
    background: url(images/checkmark.svg);
    transform: scale(1);
}

.sap_inside .sap_list .sap_card .title .amount{
    width: 60px;
    height: 30px;
    border-radius: 8px;
    background-color: #E6EBFB;  
    border: 0;
    color: #8B8FBB;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.sap_inside .sap_list .sap_card .title .amount:focus{
    outline: #8B8FBB solid 1px; 
}

.sap_inside .sap_list .sap_card .numbers{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.sap_inside .sap_list .sap_card .numbers .cost{
    color: #8B8FBB;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.sap_inside .sap_list .sap_card .numbers .money{
    color: #424467;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.sap_inside h3{
    color: #424467;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 24px;
}

.sap_inside .total{
    height: 52px;
    border-radius: 10px;
    background: #E6EBFB;
    margin: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sap_inside .total .numbers{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sap_inside .total .numbers .rubles{
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.sap_inside .total .numbers .slash{
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.sap_inside .total .numbers .duration{
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    vertical-align: middle;
}

.sap_inside .total .numbers .per_day{
    width: 200px;
    height: 44px;
    border-radius: 12px;
    background: #616BE8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sap_inside .total .numbers .per_month{
    width: 200px;
    height: 44px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sap_inside .total .numbers .per_month > * {
    color: #424467;
    font-family: Montserrat;
}

.sap_inside .send_request{
    width: 526px;
    height: 56px;
    border-radius: 12px;
    background: #F2B705;
    border: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    cursor: pointer;
}

.partners{
    height: 269px;
    background-color:#F2B705;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.partners .partners_inside h2{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.partners .partners_selector{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partners .partners_selector a{
    display:flex;
    justify-content: space-around;
}

.partners .partners_selector img{
    max-width: 100%;
    height: auto;
}

.why_us{
    height: 688px;
    background-color: #F9F9FF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.why_us_inside{
    display: flex;
    justify-content: space-between;
}

.why_us_inside_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.why_us_inside img{
    max-width: 100%;
    height: auto;
}

.why_us_inside_left h2{
    color: #424467;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.why_us_inside .list_card{
    display: flex;
    margin-top: 25px;
}

.why_us_list{
    margin-top: 25px;
    padding: 0;
    text-indent: 0;
    list-style-type: 0;
}

.why_us_inside .list_card h3{
    color: #8B8FBB;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-left: 16px;
}

.why_us_inside button{
    width: 350px;
    height: 56px;
    margin: 37px 0;
    border-radius: 12px;
    background-color: #F2B705;
    border: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    cursor: pointer;
}

.faq{
    height: 436px;
    background-color: #fff;
    background-image: url("images/faqfon.png");
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.faq .faq_inside{
    height: 318px;
    display: flex;
    justify-content: space-around;
}

.faq .faq_inside .faq_header h2{
    color: #E5007E;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.faq .faq_inside .faq_header h3{
    color: #424467;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin-top: 30px;
}

.faq .faq_inside .accordion{
    width: 640px;
}

.faq .faq_inside .accordion li{
    padding: 15px 0;   
}

.faq .faq_inside .accordion li .heading{
    display: flex;
}
.faq .faq_inside .accordion .accordion_label{
    color: #424467;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.faq .faq_inside .accordion .accordion_label img{
    transform: rotate(-90deg);
    transition: transform .35s ease-in-out;
}

.faq .faq_inside .accordion .content p{
    color: #8B8FBB;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s;
}

.faq .faq_inside .accordion hr{
    border: 1px solid #E6EBFB;
}

.faq .faq_inside .accordion input{
    display: none;
}
.faq .faq_inside .accordion input:checked + label + .content p {
    max-height: 50px;
}

.faq .faq_inside .accordion input:checked + label img{
    transform: rotate(0deg);
}

.contacts{
    height: 255px;
    background-color: #F9F9FF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacts_inside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts .contacts_icons{
    display: flex;
    justify-content: space-between;
}
.contacts .contacts_icon{
    display: flex;
    align-items: center;
}

.contacts h2{
    color: #424467;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.contacts h3, .contacts a{
    color: #8B8FBB;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin-left: 10px;
    text-decoration: none;
}

footer{
    height: 70px;
    background-color: #F9F9FF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .links img{
    margin: 7.5px;
}

.footer .copyright{
    text-decoration: none;
    color: #C8CCED;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.modal_request{
    width: 400px;
    height: 504px;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 24px;
    transform: translate(-50%, -50%);
    border: 0;
    z-index: 91;
    padding: 20px;
}

.modal_request .modal_inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.modal_request[open]::backdrop {
    background-color: #212127B2;
    z-index: 90;
}

.modal_request button{
    height: 20px;
    width: 20px;
    border: 0;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 200;
}

.modal_request button img{
    height: 20px;
    width: 20px;
    border: 0;
    background-color: #ffffff;
}
.modal_request .modal_inside h2{
    color:#565981;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 30px;
}

.modal_request .modal_inside form label{
    color:#8B8FBB;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    bottom: 5px;
}
.modal_request .modal_inside form input{
    width: 100%;
    height: 56px;
    background-color: #F9F9FF;
    border: #8B8FBB 1px solid;
    border-radius: 12px;
    color: #8B8FBB;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    padding: 0 10px;
    margin-bottom: 40px;
}

.modal_request .modal_inside form input[type=submit]{
    width: 100%;
    height: 56px;
    border-radius: 12px;
    background-color: #F2B705;
    border: 0;
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.modal_error, .modal_success{
    width: 400px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 24px;
    transform: translate(-50%, -50%);
    border: 0;
    z-index: 91;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal_error img, .modal_success img{
    height: 80px;
    width: 80px;
}

.modal_error h2{
    color: #E5007E;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 20px 0;
}

.modal_success h2{
    color: #5EC05C;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 20px 0;
}

.modal_error p, .modal_success p{
    color: #565981;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.changeHeight{
    animation-name: changeHeight;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}



@keyframes changeHeight {
    from{
        height: 504px;
    }
    to{
        height: 400px;
    }
}

/* 2xl */
@media (max-width: 1536px) {
    
}

/* lg */
@media (max-width: 1100px) {
    .container{
        max-width: 980px;
    }
    .questions form input{
        width: 285px;
    }
    .faq .faq_inside .accordion{
    width: 570px;
    }
    .questions .white_inputs{
        width: 68%;
        justify-content: space-evenly;
    }
}

/* md */
@media (max-width: 980px) {
    .container{
        max-width: 724px;
    }  
    .header .nav_inside .nav{
        display: none;
    }   
    .main_page .ERP-system{
        height: 355px;
    }
    .tools{
        height: 834px;
    }
    .tools .we_offer{
        height: 670px;
        flex-direction: column;
        justify-content: space-around;
    }
    .tools .we_offer .we_offer_inside{
        display: flex;
        height: 300px;
    }
    .tools .cards .card{    
        justify-content: space-around;
        width: 100%;
    }
    .tools .cards .card .card_text{    
        width: 83%;
    }

    .tools_also .also .heading{
        flex-direction: column;
    }
    .tools_also .also{
        height: 500px;
        justify-content: space-around;
    }
    .tools_also .also .cards{
        flex-direction: column; 
    }
    .tools_also .also .cards .card{
        margin: 10px 0;
        justify-content: space-around;
    }
    .tools_also .also .cards .card .card_text{
        width: 83%;
    }
    .contacts_inside{
        height: 179px;
    }
    .contacts .contacts_icon{
        flex-direction: column;
        align-items: flex-start;
    }
    .contacts h3, .contacts a{
        margin-left: 0px;
    }
    .questions{
        height: 388px;
    }
    .questions .questions_inside{
        height: 268px;
    }
    .questions_inside form{
        display: flex;
        flex-direction: column;
        height: 136px;
    }
    .questions_inside .white_inputs{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .questions_inside form input{
        width: 340px;
    }
    .questions_inside form input[type=submit]{
        width: 100%;
    }
    .partners .partners_selector img{
        max-width: 80%;
    } 
    .faq{
        height: 516px;
    }  
    .faq .faq_inside{
        display: flex;
        flex-direction: column-reverse;
        height: 400px;
    }
    .faq_inside .faq_header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .faq_inside .faq_header br{
        display: none;
    }
    .faq .faq_inside .faq_header h3{
        margin-top: 0px;
    }
    .faq .faq_inside .accordion{
        width: 100%;
    }
    .tools_also{
        height: 1100px;
    }
    .tools_also .also{
        height: 992px;
    }
}
.sap{
    display: none;
}
/* m */
@media (max-width: 724px) {
    .container{
        max-width: 288px;
    } 
    header{
        height: 110px;
    }
    .header{
        height: 110px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .header button{
        height: 46px;
    }
    .main_page{
        height: 654px;
    }
    .main_page .ERP-system{
        height: 420px;
    }
    .main_page .ERP-system button{ 
        width: 288px;
        height: 56px;
    }
    .main_page .ERP-system h1{
        color: #424467;
        text-align: center;
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px;
    }
    .main_page .ERP-system br{
        display: none;
    }
    .main_page .ERP-system p{
        color: #8B8FBB;
        text-align: center;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
    }
    .tools{
        height: 1440px;
    }
    .tools .we_offer{
        height: 1300px;
        flex-direction: column; 
        justify-content: space-around;     
    }
    .tools .we_offer .we_offer_inside{
        display: flex;
        justify-content: space-between;
        
        height: 546px;
    }
    .tools .we_offer .we_offer_inside h2{
        font-size: 36px;
    }
    .tools .we_offer .we_offer_inside br{
        display: none;
    }
    .tools .we_offer .we_offer_inside p{
        line-height: 26px;
    }
    .tools .cards{    
        height: 718px;
    }
    .tools .cards .card{    
        height: 228px;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
    .tools .cards .card .card_text{  
        width: 100%;  
        height: 144px;
    }
    .partners{
        height: 305px;
        display: flex;

    }
    .partners .partners_inside{
        height: 204px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .partners .partners_inside .partners_selector .alfo{
        display: none;
    }
    .tools_also .also .cards{
        height: 820px;
    }
    .tools_also .also .cards .card{
        flex-direction: column;
    }
    .why_us{
        height: 628px;
    }
    .why_us button{
        width: 288px;
    }
    .why_us .why_us_inside .why_us_inside_left h3{
        color: #8B8FBB;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
    .contacts{
        height: 400px;
    }
    .contacts .contacts_inside{
        height: 282px;
        display: flex;
        flex-direction: column;
    }
    .contacts .contacts_inside .contacts_icons{
        display: flex;
        height: 180px;
        flex-direction: column;
    }
    .contacts .contacts_inside .contacts_icon{
        display: flex;
        flex-direction: row;
    }
    .contacts .contacts_inside .contacts_icon a{
        margin-left: 15px;
    }
    .questions{
        height: 676px;
    }
    .questions .questions_inside{
        height: 556px;
        justify-content: space-around;
    }
    .questions_inside form{
        height: 225px;
        justify-content: space-around;
    }
    .questions_inside form input{
        width: 288px;
        height: 56px;
    }
    .questions_inside form input[type=submit]{
        width: 288px;
        height: 56px;
    }
    .questions .questions_inside .white_inputs{
        height: 66%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    footer{
        height: 168px;
    }
    .footer{
        height: 110px;
        display: flex;
        flex-direction: column;
    }
    .faq{
        height: 650px;
    }
    .faq .faq_inside{
        height: 560px;
    }
    .faq .faq_inside .faq_header{
        height: 120px;
        display: flex;
        flex-direction: column;

    }
}



